* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

#chat {
  display: inline-block;
  width: 70%;
  height: 100%;
  position: fixed;
}


#log-messages {
  background-color: #DDD;
  width: 100%;
  height: 70%;
  display: inline-block;
  overflow: scroll;
}

#compose {
  background-color: #AAA;
  width: 100%;
  height: 30%;
  display: inline-block;
  padding: 1em 3%;
  text-align: right;
}

#compose > textarea#compose-message {
  width: 100%;
  height: 85%;
  font-size: 150%;
}

#log-messages > ul {
  list-style-type: none;
  padding: 0;
}

.log-message {
  border: 1px solid black;
  padding: .5em 3%;
  margin-bottom: .5em;
  width: 70%;
}

.person-message {
  margin-left: 30%;
  background-color: #8F8;
}

.bot-message {
  margin-right: 30%;
  background-color: #DFD;
}

.message p {
  margin: 0;
}

.time {
  color: #444;
  font-size: 75%;
}


#script {
  display: inline-block;
  width: 30%;
  background-color: pink;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

.script-message {
  border: 1px solid black;
  padding: .5em;
  margin: .25em;
  background-color: #8FF;
  cursor: move;
}


@media (max-width: 960px) {
  body {
    font-size: 100%;
  }
  
  #compose > textarea#compose-message {
    height: 80%;
    font-size: 125%;
  }
  
  
}